<!doctype html>
<html>
    <head>
      <meta charset = "UTF-8">
      <link rel= "stylesheet" type= "text/css" href= "static/login.css">
      <title> PontoTel - Cadastro </title>
    </head>
    <body>
        <div>            
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Home</a>
            <a href="{{ url_for('register') }}">Registre-se</a>
            {% else %}
            <a href="{{ url_for('user_template') }}">Perfil</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('edit') }}">Editar Perfil</a>
            {% endif %}     
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>