{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate>
    <h1>Olá, visitante! Seja bem-vindo(a)! </h1>
    {{ form.hidden_tag() }}
    <p>
        <p> Utilize seu e-mail, CPF ou PIS:</p>
        {{ form.login.label }}<br>
        {{ form.login(size=32) }}<br>
        {% for error in form.login.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    <p><a href="{{ url_for('register') }}">Registre-se</a></p>
</form>

{% endblock %}